{% extends "home.html" %}
{% block sub_body %}


<h3>Заголовок module 3</h3>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quae, dolorum dicta, maiores id fugit, praesentium maxime sunt nisi esse rerum est beatae optio, ad laboriosam vel molestiae natus distinctio aspernatur.</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Quae, dolorum dicta, maiores id fugit, praesentium maxime sunt nisi esse rerum est beatae optio, ad laboriosam vel molestiae natus distinctio aspernatur.</p>


{% endblock %}
